p,li {
  font-size: 18px;
}

body {
  font-family: sans-serif;
  background-color: lightblue;
  text-align: center
}

#game {
  background-color: white;
  height: 600px;
  width: 800px;
  border: 2px solid black;
  position: relative;
  margin: 15px auto 5px;
  line-height: 550px;
  font-size: 128px;
  padding: 10px;
  border-radius: 7px;
  border: 3px solid;
}

#instructions {
  height: 100px;
  width: 800px;
  position: relative;
  margin: auto;
  text-align: left
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: radial-gradient(circle,red 25%, green 65%, blue 10%);
  position: absolute;
  cursor: pointer;
  will-change: transform;
}

.time_score {
  width: 400px;
  margin: auto;
}

.score_box{
  float: left;
}

.timer_box {
  float: right;
}

h1{
  font-size: 72px;
  margin-top: 20px;
  margin-bottom: 5px;
}

h2{
  color: #333;
  text-align: center;
  margin: 0;
}

li{
  list-style-type: none;
  margin-left: 100px;
}

button {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  border: 3px solid;
  padding: 10px;
  border-radius: 7px;
  width: 240px;
}

button:hover {
  transition: all 0.5s;
  color: rgb(0, 0, 200);
}

